/* header section */
header {
	width: 100%;
	height: 8.8rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .btn-mobile {
	display: none;
}

header nav {
	display: flex;
	align-items: center;
	gap: 3.2rem;
}

header nav ul {
	display: flex;
	gap: 4rem;
}

header nav ul li a {
	color: var(--color-gray-100);
	font-size: 1.6rem;
	letter-spacing: -0.48px;
	transition: opacity .3s ease;
}

header nav ul li a:hover {
	opacity: 0.7;
}

/* hero section */
.s-hero {
	position: relative;
	width: 100%;
	padding-top: 11.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.s-hero::after {
	content: '';
	width: 100%;
	height: 22rem;
	background-color: var(--pink-10);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.s-hero .text {
	position: relative;
	width: 100%;
	max-width: 71.9rem;
	text-align: center;
	margin: 0 auto 6.4rem;
}

.s-hero .text h1 {
	position: relative;
	font-weight: 600;
	letter-spacing: -1.68px;
}

.s-hero .text h1::before {
	content: '';
	max-width: 59.9rem;
	height: 2.2rem;
	background-image: url('../imgs/separator.svg');
	background-repeat: no-repeat;
	background-position: left center;
	position: absolute;
	left: 3.9rem;
	bottom: -5px;
	z-index: -1;
	animation: draw-line 1s 0.5s ease-in forwards;
}

.s-hero .text p {
	width: 55.6rem;
	margin: 2.4rem auto 3.2rem;
	letter-spacing: -0.54px;
	color: var(--gray-300);
}

.s-hero .text .arrow {
	position: absolute;
	bottom: 1.7rem;
	left: 5.5rem;
	animation: floating 3s ease-in-out infinite;
}

.s-hero .ilustra {
	padding: 0 1.5rem;
}

.s-hero .ilustra-mobile {
	display: none;
}

@keyframes draw-line {
	from { width: 0%; }
	to { width: 100%; }
}

@keyframes floating {
	0% { transform: translateX(0); }
	50% { transform: translateX(15px); }
	100% { transform: translateX(0); }
}

/* digital section */
.s-digital {
	padding-top: 12.8rem;
}

.s-digital h3 {
	max-width: 53.5rem;
	text-align: center;
	margin: 0 auto 6.4rem;
}

.s-digital ul {
	display: flex;
	padding-bottom: 12.8rem;
	justify-content: space-between;
	border-bottom: 1px solid var(--gray-800);
}

/* art-front section */
.s-art-front {
	padding: 12.8rem 0;
}

.s-art-front .title-text {
	display: flex;
	align-items: center;
	margin-bottom: 6.4rem;
	justify-content: space-between;
}

.s-art-front .title-text h3 {
	font-weight: 600;
	letter-spacing: -1.2px;
}

.s-art-front .title-text p {
	color: var(--gray-600);
	margin-top: 1.6rem;
	letter-spacing: -0.54rem;
}

.s-art-front .title-text .left {
	max-width: 53.9rem;
}

.s-art-front .title-text .left p {
	max-width: 45.2rem;
}

.s-art-front .title-text .right {
	max-width: 42.9rem;
}

.s-art-front .all {
	gap: 3.2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.s-art-front .all .card-post:first-child {
	grid-column: span 2;
}

/* newsletter section */
.s-newsletter {
	padding: 8.9rem 0;
	background-color: var(--pink-10);
}

.s-newsletter .container {
	text-align: center;
}

.s-newsletter h2 {
	font-weight: 600;
	max-width: 64.6rem;
	margin: 0 auto 1.6rem;
	letter-spacing: -1.44px;
}

.s-newsletter .container p {
	max-width: 68.7rem;
	margin: 0 auto 2.4rem;
}